<h1 align="center">Edit Contact</h1>

<form action="/contacts/<%= @contact.id %>" method="post" align="center">
  <input type="hidden" name="_method" value="patch">

  <div>
    First Name: <input type="text" name="first_name" value="<%= @contact.first_name %>">
  </div>
  <div>
    Middle Name: <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
  </div>
  <div>
    Last Name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
  </div>
  <div>
    Email: <input type="text" name="email" value="<%= @contact.email %>">
  </div>
  <div>
    Phone: <input type="text" name="phone" value="<%= @contact.phone %>">
  </div>
  <div>
    Bio: <input type="text" name="bio" value="<%= @contact.bio %>">
  </div>


  <input type="submit" value="Update Contact">
  <a href="/contacts/<%= @contact.id %>" data-method="delete">Delete</a>
  <a href="/contacts">Cancel</a>

</form>